<% include partials/header %>
<% include partials/navbar %>

<img class="vinyl-img mx-auto d-block" src="https://static.pexels.com/photos/164901/pexels-photo-164901.jpeg" alt="image of records inside record player" />

<div class="row">
  <div class="col">
    <h2>Records</h2>
        <div class="album-list">
          <% albums.forEach((album) => { %>
            <div class="container-fluid member">
            <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
            <span><%= album.artist %></span>
            <br />
            </div>
            <% }) %>
          </div>
  </div>
  <div class="col">
    <h2>Recent Reviews</h2>
      <div class="review-list">
        <% reviews.forEach((review) => { %>
          <% review.review_date = new Date(review.review_date).toDateString() %>
          <div class="container-fluid member row">
            <div class="col">
              <h5><a href="/albums/<%= review.album_id %>"><%= review.title %></a></h5>
              <span class="review-text"><%= review.review_text %></span>
              <br />
              <p>reviewed by: <a href="/users/<%= review.user_id %>"><%= review.name %></a></p>
            </div class="col">
            <div>
            <p><%=review.review_date%></p>
            </div>
          </div>
        <% }) %>
      </div>
  </div>
</div>

<% include partials/footer %>
